{
  "openapi": "3.0.0",
  "info": {
    "title": "MCP Server Webhook API",
    "description": "Enviar solicitudes al servidor MCP para búsquedas de clientes y generación de cotizaciones.",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://poweredbyneutrino.app.n8n.cloud"
    }
  ],
  "paths": {
    "/webhook/05a1d721-698c-49be-819f-21ff9249538b": {
      "post": {
        "summary": "Buscar entidades (clientes) basados en input",
        "operationId": "sendInputToMCP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "string",
                    "description": "Nombre o término de búsqueda (por ejemplo, 'Oscar Fernandez')"
                  },
                  "entity_type": {
                    "type": "string",
                    "description": "Tipo de entidad que se busca (por ejemplo, 'cliente')"
                  }
                },
                "required": ["input", "entity_type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista de coincidencias de entidades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entidad_id": { "type": "string" },
                      "tipo_entidad": { "type": "string" },
                      "empresa_id": { "type": "string" },
                      "texto_embedding": { "type": "string" },
                      "metadata_json": {
                        "type": "object",
                        "properties": {
                          "nombre": { "type": "string" },
                          "asesor_id": { "type": "string" },
                          "cliente_id": { "type": "integer" },
                          "empresa_id": { "type": "string" },
                          "numero_telefonico": { "type": "string" },
                          "correo_electronico": { "type": "string" },
                          "proyecto_id_interes": { "type": "string" },
                          "tipo_inversion_deseada": { "type": "string" },
                          "nombre_proyecto_interes": { "type": "string" },
                          "metodo_contacto_preferido": { "type": "string" },
                          "fecha_creacion": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        }
                      },
                      "distancia": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhook/e28feed3-0657-423a-b28d-94ee30222609": {
      "post": {
        "summary": "Generar cotización de propiedad una vez se haya consultado los datos de la propiedad",
        "operationId": "generateQuoteMCP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tipo_propiedad": { "type": "string" },
                  "identificador_propiedad": { "type": "string" },
                  "nombre_proyecto": { "type": "string" },
                  "tipo_division": { "type": "string" },
                  "identificador_division": { "type": "string" },
                  "precio_propiedad_usd": { "type": "number" },
                  "cantidad_parqueos": { "type": "string" },
                  "cantidad_años_credito": { "type": "string" },
                  "porcentaje_enganche": { "type": "string" },
                  "url_planos": { "type": "string" },
                  "metros_cuadrados_propiedad": { "type": "string" },
                  "comentarios_extras": { "type": "string" },
                  "nombre_cliente": { "type": "string" }
                },
                "required": [
                  "tipo_propiedad",
                  "identificador_propiedad",
                  "nombre_proyecto",
                  "tipo_division",
                  "identificador_division",
                  "precio_propiedad_usd",
                  "cantidad_parqueos",
                  "cantidad_años_credito",
                  "porcentaje_enganche",
                  "metros_cuadrados_propiedad",
                  "nombre_cliente"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL de la cotización generada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url_cotizacion": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhook/3de21d13-2ba2-4f41-ba22-681b534294dc": {
      "post": {
        "summary": "Generar estado de cotización de propiedad a partir de archivos multimedia",
        "operationId": "generateStatusQuoteMCP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asset_url_1": {
                    "type": "string",
                    "description": "URL del primer archivo multimedia (por ejemplo, video)"
                  },
                  "asset_url_2": {
                    "type": "string",
                    "description": "URL del segundo archivo multimedia (por ejemplo, video)"
                  },
                  "cliente_id": {
                    "type": "integer",
                    "description": "Identificador del cliente"
                  },
                  "nombre_cliente": {
                    "type": "string",
                    "description": "Nombre del cliente"
                  },
                  "proyecto_id": {
                    "type": "integer",
                    "description": "Identificador del proyecto"
                  }
                },
                "required": [
                  "asset_url_1",
                  "asset_url_2",
                  "cliente_id",
                  "nombre_cliente",
                  "proyecto_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estado de la cotización generada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": ["en_progreso", "completado", "error"]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
